a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: rgb(242, 240, 240);
}

li {
  list-style-type: none;
  display: inline;
}

li a {
  position: relative;
  color: rgb(17, 16, 16);
  text-decoration: none;
  padding: 1rem;
}

/* Style inputs, select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

table,
th,
td {
  margin: 25px;
  padding: 25px;
  border: 1px solid black;
  border-collapse: collapse;
}

.container {
  display: flex;
}

footer {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
  background-color: rgb(26, 26, 26);
}

.container-align {
  display: flex;
  flex-direction: column;
  text-align: center;
}
