.card {
  max-width: 350px;
  max-height: 400px;
  padding: 10px;
  padding-bottom: 40px;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 50px;
}

.cards {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.card-image {
  display: block;
  width: 100%;
  height: auto;
  max-height: 200px;
}

.card-header {
  padding-top: 10px;
}

.card-description {
  padding-bottom: 15px;
}

.card-text {
  text-align: left;
  padding-left: 10px;
}

.card-link {
  color: rgb(6, 31, 67);
}
