.logo {
  max-height: 4rem;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.logo:hover {
  cursor: pointer;
  background-color: rgba(225, 222, 222, 0.826);
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.main-menu-item:hover {
  background-color: rgba(225, 222, 222, 0.826);
}

.navbar {
  display: flex;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 30px -5px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 8rem;
  background-color: white;
}
