.logo {
  display: flex;
  max-height: 4rem;
  border-radius: 2rem;
  float: left;
  margin-top: 2rem;
  margin-left: 2rem;
}

.logo:hover {
  cursor: pointer;
  background-color: rgba(225, 222, 222, 0.826);
}

.menu {
  position: absolute;
  display: inline;
  top: 35%;
  background-color: white;
}

.main-menu-item:hover {
  background-color: rgba(225, 222, 222, 0.826);
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-container {
  position: relative;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 30px -5px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  top: 100%;
  left: 0;
  z-index: 999;
  overflow: hidden;
  height: 8rem;
  background-color: white;
}

.navbar:hover .navbar-container {
  display: block;
}
